*{
    padding: 0;
    margin: 0;
}
h2{
    font-family: Amatic SC, sans-serif;
    font-size:80px;
}
#darkBtn{
    display: none;
}
.navbar{
    padding: 10px;
    background-color: #FFFFFF;
}
.navbar-brand{
    font-family:Inter, sans-serif;
    font-size:32px;
    font-weight: 800;
}
.nav-link{
    font-family:
    "Open Sans", system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #999898;
    font-size:20.8px;
}
.nav-link:hover{
    color: #3b3a39;
    border-bottom: 2px solid #CE1212;
}
.nav-item{
    margin: 10px;
}
.nav-btn{
    font-size: 20.8px;
    border: none;
}
/* **************Header***************** */
.bgHeader{
    padding-top: 80px;
    background-color: #EEEEEE;;
}
.bgHeader p{
    color: #898888;
    font-size: 17px;
    margin-top: 20px;
}
.btnHeader{
    border-radius: 0px 100vh 100vh;
    padding: 10px 18px;
    background-color: #CE1212;
    color:#EEEEEE;
    border: none;
}
.btnHeader:hover{
    background-color: #FF0000;
    color: #202020;
}
.imgHeader:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* ***********chef**************** */

.chef-text{
    color: #898888;
    font-size: 17px;
    font-family: Amatic SC, sans-serif;
}
.text-color{
    color: #CE1212 ;
}
.card{
    position: relative;
    transition: 1s;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card:hover{
    transform: scale(1.1);
    transition-timing-function: ease;
}
.card-title{
    color: #202020;
    font-weight: 600;
}
.card-body{
    color: #8d8b8b;
}
.card-img-top{
    clip-path: polygon(50% 0%, 100% 0, 99% 85%, 74% 80%, 53% 86%, 28% 76%, 12% 85%, 0 75%, 0 0);
}
/* .wave{
    position: relative;
} */
/* .wave::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 117px;
    background: url(../img/wave.png);
} */
.socialCard{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ffffff4d;
    width: 0;
    height: 150px;
    z-index: 3;
    color: #a09e9e;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: .5s ease;
}
.card:hover .socialCard{
    width: 40px;
    right: 10px;
    opacity: 1;
    cursor: pointer;
}
.socialCard i{
    margin-top: 5px;
    font-size: 22px;
}
.socialCard i:hover{
    color: #252525;
}
/* **********Gallery********** */
.gallery{
    background-color: #EEEEEE;
}
.galleryImg{
    position: relative;
}
.galleryImg .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(18, 18, 21,0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.contentOverlay{
    margin: auto;
    padding-top: 20%;
}
.galleryImg:hover .overlay{
    height: 100%;
}
/* ***********Contact************ */
.contact{
    background-color: #EEEEEE;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
}
.contact .icon{
    color: #EEEEEE;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 10px;
    background-color: #CE1212;
    font-size: 24px;
    display: inline-block;
}
.contact-text{
    margin-left: 15px;
}
.contactField{
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* ************Footer**************/
footer{
    background-color: #666666;
    color: #EEEEEE;
}
.socialmedia{
    list-style: none;
}
.socialmedia li{
    float: left;
    font-size: 24px;
    margin: 10px;
}
.inputSubscribe{
    position: relative;
}
.inputSubscribe input{
    position: relative;
    padding: 15px;
}

footer button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 15px;
    background:#CE1212;
    color: #F8EDE9;
}
.linkList{
    list-style: none;
}
.linkList li:hover{
    background-color: #CECBCB;
}
.linkList li:hover .contentList{
    transform: translateX(20px);
    cursor: pointer;
    transition: 1s ease;
}
.contentList i{
    color:#CE1212;
}
.iconFooter{
    font-size: 24px;
    color: #CE1212;
}